
Variant 0: 189266
Variant 1: 154236
Variant 2: 177176
